.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    width: 30%;
    height: 480px;
    background-color: white;
    margin: 5px 5px 25px 5px;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
}

.card-flip{
    transform: rotateY(180deg);
}

.front, .back{
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left: 0;
    height: 480px;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.price {
    color: red;
    font-weight: 800;
    font-size: 35px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.42);
}

.container {
    padding: 2px 16px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.container-back{
    padding: 2px 16px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.card-image{
    width: 100%;
    border-radius: 10px 10px 0 0;
}