html, body {
  text-align: center;
  background:
          linear-gradient(
                  rgba(0,0,0,0.25),
                  rgba(0,0,0,0.25)
          ),
          url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.Grid {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.static-logo {
  height: 150px;
  cursor: pointer;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 99;
}

.menu{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 145px;
  left: 0;
  right: 0;
  font-weight: 800;
  font-size: 35px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.42);
  cursor: pointer;
  z-index: 99;
}

.menu-hidden{
  visibility: hidden;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

